$mainColor: #121212;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  background: $mainColor;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  height: 100vh;


  .side-menu{
    width: 7%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon-user{
      cursor: pointer;
      font-size: 40px;
      color:rgba(238, 238, 0, 1);
      margin: 12px 0 0 0;
    }
    .icon {
      cursor: pointer;
      font-size: 40px;
      margin: 15px 0;
    }
  }

  .right-main{
    width: 100%;
    header{
      height: 60px;
      nav {
        display: flex;
        align-items: center;
        h1 {
          margin: 0 35px 0 75px;
          color:rgba(238, 238, 0, 1);
          font-size: 2.5rem;
        }
        ul {
          margin: auto 0 auto 10px;
          display: flex;
          list-style: none;
        }
      
        li{
          padding: 15px;
          letter-spacing: 3px;
          font-weight: 100;
          font-size: 1.5rem;
          &:hover{
            color: yellow;
            cursor: pointer;
          }
        }
  
    }
  }
    .trade-chart-container{

    width: 100%;
    height: 100vh;
    .trade-chart{
      margin: 50px auto;
      width: 800px;
      height: 800px;
    }
    .btn-group{
      display: flex;
      justify-content: center;
      margin: 35px 0;
      .btn{
        cursor: pointer;
        font-size: 3rem;
        margin: 0 25px;
      }
    }
  }

}


}
